<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <header>
          <nav>
              <ul>
              {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  <li><a href="{% url 'create_account' %}">Create Account</a></li>
                  <li><a href="{% url 'create_category' %}">Create Category</a></li>
              {% else %}
                  <li> <a href="{% url 'signup' %}" >Signup</a></li>
                  <li> <a href="{% url 'login' %}">Login</a></li>
              {% endif %}
              </ul>
          </nav>
      </header>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of receipts</th>
              </tr>
            </thead>
            <tbody>
                {% for receipt in categories %}
                <tr>
                    <td>{{ receipt.name }}</td>
                    <td>{{ receipt.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </main>
</body>
</html>